<ng-container *ngIf="movie">
  <div class="ui inverted vertical center aligned masthead segment">
    <div class="masthead-image">
      <img *ngIf="!movie.backdrop_path" src="./assets/not-available.png" alt=""/>
      <img *ngIf="movie.backdrop_path" src="http://image.tmdb.org/t/p/original/{{movie.backdrop_path}}" />
    </div>
    <div class="ui text container">
      <h1 class="ui inverted header">
        <ng-container *ngIf="movie.poster_path">
          <div class="poster">
            <img src="http://image.tmdb.org/t/p/w342/{{movie.poster_path}}" />
          </div>
        </ng-container>
        {{movie.title  ? movie.title : movie.name}}
      </h1>
      <ul class="ui inverted">
        <ng-container *ngIf="movie.production_companies">
          <li class="item" *ngFor="let company of movie.production_companies">{{company.name}}</li>
        </ng-container>
        <ng-container *ngIf="movie.networks">
          <li class="item" *ngFor="let network of movie.networks">{{network.name}}</li>
        </ng-container>
      </ul>
    </div>
  </div>

  <main class="ui text container details-view">
    <div class="ui top left attached">
      <span class="ui label">{{media}}</span> <span class="ui label"><i class="yellow star icon"></i>{{movie.vote_average}}</span>
    </div>
    <div class="ui celled horizontal list genres" *ngIf="movie.genres">
     <div class="item" *ngFor="let genre of movie.genres">{{genre.name}}</div>
    </div>

    <div class="segment">
      <h2 class="ui medium header">Handlung:</h2>
      <p class="overview" *ngIf="movie.overview">{{movie.overview}}</p>
      <span *ngIf="!movie.overview"><small>keine Information vorhanden</small></span>

      <h2 class="ui medium header">Webseite:</h2>
        <a *ngIf="movie.homepage" class="home-link" href="{{movie.homepage}}" target="_blank">{{movie.homepage}}</a>
        <small *ngIf="!movie.homepage">keine Information vorhanden</small>


      <h2 class="ui medium header">Erschienen:</h2>
      <ng-container *ngIf="movie.release_date">
        {{movie.release_date | date:'dd'}}.{{movie.release_date | date:'M'}}.{{movie.release_date | date:'y'}}
      </ng-container>
      <ng-container *ngIf="movie.first_air_date">
        {{movie.first_air_date | date:'dd'}}.{{movie.first_air_date | date:'M'}}.{{movie.first_air_date | date:'y'}}
      </ng-container>
      <small *ngIf="!movie.release_date && !movie.first_air_date">keine Information vorhanden</small>

      <ng-container *ngIf="media === 'movie'">
        <h2 class="ui medium header">Spieldauer:</h2>
        <span *ngIf="movie.runtime">{{movie.runtime}} Minuten</span>
        <small *ngIf="!movie.runtime">keine Information vorhanden</small>
      </ng-container>

      <ng-container *ngIf="media === 'tv'">
        <h2 class="ui medium header">Staffel-Informationen:</h2>
        <div class="ui grid">
          <div class="four wide column cast">
            <strong class="header">Status</strong><br/>
            <small class="meta">{{movie.status}}</small>
          </div>
          <div class="four wide column cast">
            <strong class="header">Staffeln</strong><br/>
            <small class="meta">{{movie.number_of_seasons}}</small>
          </div>
          <div class="four wide column cast">
            <strong class="header">Episoden</strong><br/>
            <small class="meta">{{movie.number_of_episodes}}</small>
          </div>
          <div class="four wide column cast">
            <strong class="header">Spieldauer</strong><br/>
            <small class="meta" *ngIf="movie.episode_run_time">{{movie.episode_run_time}} Minuten pro Episode</small>
            <small *ngIf="!movie.episode_run_time">keine Information vorhanden</small>
          </div>
        </div>
      </ng-container>

      <h2 class="ui medium header">Cast:</h2>
      <div class="ui grid" *ngIf="cast">
        <div class="four wide column cast" *ngFor="let element of cast">
          <strong class="header">{{element.character}}</strong><br/>
          <small class="meta">{{element.name}}</small>
        </div>
      </div>
      <small *ngIf="!cast">keine Information vorhanden</small>

    </div>
  </main>

</ng-container>

<ng-container *ngIf="!movie">
  <main class="ui text container details-view">
    <div className="content">
      <div className="ui active centered inline loader"></div>
    </div>
  </main>
</ng-container>
